.date-container{
    border:solid 3px rgb(187, 211, 243);
    border-radius:10px;
    height:45px;
    justify-content:space-between;
    display:flex;
    flex-direction:column;
    transition-duration: 0.5s;
}
.date-input{
    outline:none;
    border:none;
    font-family:Nunito;
    background-color:transparent;
    margin:auto;
    font-size:17px;
    height: 45px;
}
.date-label{
    position:relative;
    background-color:white; 
    left:10px;
    top:6px; 
    padding:5px;
    color:rgb(187, 211, 243);
}

.disable_date{
    color: gray !important;
    cursor: not-allowed;
}

.disable_date .date-container{
    border:solid 3px rgb(216, 216, 216);
    /* background-color: rgb(238, 238, 238); */
    transition-duration: 0.5s;
}
.disable_date .date-input, .disable_date .date-label {
    color:rgb(182, 182, 182);
}