.hotel_result-container{
    background-color:rgb(248 247 255);
    padding-top:calc(50px + 10px * 2 ); /* nav's height + its padding * 2 */
    display:flex;
    height:calc(100vh - 70px);
    overflow:scroll;
}
.hotel_filter-container{
    width:200px;
    height:calc(100vh - (70px + 30px * 2)); /* height's screen - (nav's height + container padding * 2 )*/
    background-color:white;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:20px;
    position:fixed;
}

.hotels_list-container{
    width:450px;
    padding:20px;
    gap:30px;
}

.result-container{
    display:flex;
    width: 100%;
    height: max-content;
    margin-left:calc(200px + 30px * 2); /* filter container's width + filter container's padding * 2 */
}

.hotels_result-p{
    margin-top: auto;
}


.date_filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date_filter-label{

}
.date_filter-label{

}