.hotel_result-container{
    background-color:rgb(248 247 255);
    padding-top:calc(50px + 20px);
    display:flex;
    height:calc(100vh - 70px);
    overflow:scroll;
}
.hotel_filter-container{
    width:200px;
    height:100vh;
    background-color:white;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:20px;
    position:fixed;
}

.hotels_list-container{
    width:450px;
    padding:20px;
    gap:30px;
}

.result-container{
    display:flex;
    width: 100%;
    height: max-content;
    margin-left:calc(200px + 20px * 2 + 20px);
}